:root {
  --color-background: #ECF2FF;

  --color-primary: #6844FF;
  --color-primary-dark: #302ae9;

  --color-dark: #303B59;
  --color-dark-100: #29324b;
  --color-light: #FEFFFA;
  --color-light-100: #fefffa8e;

  --color-destructive: #DB8584;
  --color-destructive-100: #DB85842f;

  --color-alert: #FAD490;
  --color-alert-100: #FAD4902f;

  --color-success: #4EC39F;
  --color-success-100: #4ec3a02f;

  --color-info: #5459A4;
  --color-info-100: #5459A42f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
