@import url("./base.css");
@import url("./utility.css");

article {
  min-height: 40rem;
  width: 60rem;
  background-color: white;
  box-shadow: 0.5rem 0.5rem 1.5rem #00000010;
  border-radius: 2.4rem;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

article section:first-child {
  background-image: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-primary-dark)
  );
  border-radius: 0 2.4rem 2.4rem 0;
  color: var(--color-light-100);
  flex-direction: column;
  gap: 2.5rem;

  h2 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 2.4rem;
    color: var(--color-light);
  }

  p {
    width: 60%;
    font-size: 1.3rem;
  }
}

article section:last-child {
  flex-direction: column;
  padding: 0 4rem;

  h1 {
    width: 100%;
    font-size: 1.8rem;
    color: var(--color-dark);
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 2.6rem auto;
  }
}

.circle {
  background-image: linear-gradient(
    to bottom,
    var(--color-primary-dark) 60%,
    transparent
  );
  border-radius: 50%;
  width: 15rem;
  height: 15rem;

  flex-direction: column;
  font-size: 1.3rem;

  span {
    color: var(--color-light);
    font-size: 5.2rem;
    font-weight: 700;
  }
}

button {
  color: var(--color-light);
  background-color: var(--color-dark);
  width: 100%;
  height: 4.5rem;
  border-radius: 2.4rem;
  cursor: pointer;
  transition: all 0.15s;

  &:hover {
    background-color: var(--color-dark-100);
  }
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.2rem .8rem;
  border-radius: .8rem;
  font-size: 1.2rem;

  h4 {
    margin: 0 auto 0 1rem;
  }

  p {
    color: var(--color-dark-100);

    span {
      font-weight: 800;
    }
  }

}
