.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.destructive {
  background-color: var(--color-destructive-100);
  color: var(--color-destructive);
}

.info {
  background-color: var(--color-info-100);
  color: var(--color-info);
}

.success {
  background-color: var(--color-success-100);
  color: var(--color-success);
}

.alert {
  background-color: var(--color-alert-100);
  color: var(--color-alert);
}